/* 导航栏 */
nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    background-color:rgba(250,250,250,0.5);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

nav .left{
    display: flex;
    justify-content: space-between;
}
nav .left img{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}
nav .left p{
    text-align: center;
    width: 200px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
    color: #444;
}
nav .left p span{
    font-weight: 600;
}
nav .right{
    display: flex;
}
nav .right .btn-theme{
    width: 60px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: relative;
}
nav .right .btn-theme .box{
    position: absolute;
    width: 100px;
    top: 44px;
    left: -20px;
    border: 1px solid green;
}
nav .right .btn-theme .hidden{
    display: none;
}
nav .right .btn-theme span{
    color: #444;
    position: relative;
}
nav .right .btn-theme span:hover{
    color: #2F9CF1;
    cursor: pointer;
}

nav .right .search{
    padding: 0px 10px;
    border: 1px solid rgb(173, 171, 171);
    border-radius: 5px;
    line-height: 36px;
    height: 36px;
    margin: 2px 0px;
    background-color: #fff;
}

nav .right .search input{
    width: 160px;
    font-size: 15px;
}
nav .right .search:focus-within{
    border: 1px solid #078df3;
}
nav .right .nav-home{
    text-align: center;
    width: 80px;
    line-height: 30px;
    margin: 5px 0px;
}

nav .right .nav-home  span:nth-child(1){
    font-size: 18px;
    color: #444;
}
nav .right .nav-home span:nth-child(2){
    font-size: 16px;
    color: #444;
}
nav .right .nav-home:hover span{
    color: #2F9CF1;
    cursor: pointer;
}

nav .right .nav-blog{
    text-align: center;
    width: 80px;
    line-height: 30px;
    margin: 5px 0px;
}

nav .right .nav-blog span:nth-child(1){
    font-size: 18px;
    color: #444;
}
nav .right .nav-blog span:nth-child(2){
    font-size: 16px;
    color: #444;
}
nav .right .nav-blog:hover span{
    color: #2F9CF1;
    cursor: pointer;
}

nav .right .nav-timeline{
    text-align: center;
    width: 100px;
    line-height: 30px;
    margin: 5px 0px;
}

nav .right .nav-timeline span:nth-child(1){
    font-size: 18px;
    color: #444;
}
nav .right .nav-timeline span:nth-child(2){
    font-size: 16px;
    color: #444;
}
nav .right .nav-timeline:hover span{
    color: #2F9CF1;
    cursor: pointer;
}

nav .right .nav-aphorism{
    text-align: center;
    width: 80px;
    line-height: 30px;
    margin: 5px 0px;
}

nav .right .nav-aphorism span:nth-child(1){
    font-size: 18px;
    color: #444;
}
nav .right .nav-aphorism span:nth-child(2){
    font-size: 16px;
    color: #444;
}
nav .right .nav-aphorism:hover span{
    color: #2F9CF1;
    cursor: pointer;
}
nav .right .nav-try{
    text-align: center;
    width: 80px;
    line-height: 30px;
    margin: 5px 0px;
}

nav .right .nav-try span:nth-child(1){
    font-size: 18px;
    color: #444;
}
nav .right .nav-try span:nth-child(2){
    font-size: 16px;
    color: #444;
}
nav .right .nav-try:hover span{
    color: #2F9CF1;
    cursor: pointer;
}

/* 导航栏end */